@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  /* color: inherit;
  text-decoration: none; */
}

* {
  box-sizing: border-box;
}

@layer base {
  pre {
    @apply bg-gray-900 text-white p-3 overflow-x-auto;
  }
  a {
    @apply text-blue-500 underline;
  }
}
